* {
  box-sizing: border-box;
}

.container {
  width: 200px;
  height: 150px;
  padding: 10px;
  margin: 20px;
  border: 5px solid red;
  text-align: center;
  /* box-sizing: border-box; */
}

body {
  font-family: sans-serif;
}
p,
ul {
  border: 2px solid rebeccapurple;
  padding: 1em;
}

.block,
li {
  border: 2px solid green;
  padding: 1em;
}
